
<!-- <button type="button" class="btn btn-primary" (click)="onSwithpressed()">{{swithLabel}} </button>

<img src="https://www.lightbulbs.com/catalog/product_line_photos/light_bulbs_beauty.jpg?123456" alt="Girl in a jacket" width="50" height="60" *ngIf="switchstate; else glowbulb">

<ng-template #glowbulb>
<img src="https://images-na.ssl-images-amazon.com/images/I/5142MoAjNOL._AC_SL1500_.jpg" alt="Girl in a jacket" width="60" height="50" >
</ng-template> -->


<label for="">Enter Fruit Names</label>
<input type="text" placeholder="Enter Fruit Names" [(ngModel)]="fruit">
<button (click)="AddFruittoarray()">Add Fruit</button>

<ul>
  <li *ngFor="let fruit of Fruits">{{fruit}}</li>
</ul>
